
div(class='sci-table')
  div(class='viewport')
    table

      thead
        tr
          th 
          th Free Demo Website        
          th Optimize Website

      tbody
        tr(class='sub-header-row')
          td(class='col-header') Best For
          td
          td


        tr(class='data-row')
          td(class='col-header') Freelancers
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Small Businesses
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Medium Businesses
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Large Enterprises
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='sub-header-row')
          td(class='col-header') Pricing
          td
          td
          
        tr(class='data-row')
          td(class='col-header') Starting at
          td(class='positive') Free
          td 171

        tr(class='data-row')
          td(class='col-header') On-going Costs
          td(class='positive') Free        
          td 171 /month

        tr(class='data-row')
          td(class='col-header') Maitenance & Update Fees
          td(class='positive') Free
          td(class='positive') Free

        tr(class='data-row')
          td(class='col-header') Money-Guarantee
          td(class='positive') Free        
          td(class='positive') Cancel Anytime


        tr(class='data-row')
          td(class='col-header') Trial Period
          td 90-days
          td(class='na') N/A        

        tr(class='sub-header-row')
          td(class='col-header') Basic Features
          td
          td

        tr(class='data-row')
          td(class='col-header') Page Count
          td ~ 7        
          td(class='positive') Unlimited

        tr(class='data-row')
          td(class='col-header') Mobile Responsiveness
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Domain Included
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') SSL Security Included
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='sub-header-row')
          td(class='col-header') Advance Features
          td
          td

        tr(class='data-row')
          td(class='col-header') Admin Dashboard
          td(class='check-yes') ✓
          td(class='check-yes') ✓      

        tr(class='data-row')
          td(class='col-header') Feedback Display
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Aesthetic Preview
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Architecture Overview
          td(class='check-yes') ✓
          td(class='check-yes') ✓      

        tr(class='sub-header-row')
          td(class='col-header') Optimization
          td
          td

        tr(class='data-row')
          td(class='col-header') Web-Experiments 
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') User Flow Research
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') User Heatmap Research
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Measurable Marketing
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Unlimited Reports
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='sub-header-row')
          td(class='col-header') Available Support
          td
          td

        tr(class='data-row')
          td(class='col-header') Smart Questionnaire
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Email
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Phone Text
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Phone Call
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Video Meeting
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') In-person Meeting
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='sub-header-row')
          td(class='col-header') Code & Development
          td
          td

        tr(class='data-row')
          td(class='col-header') Custom Code
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Personalized Code
          td(class='x-no') ✗             
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Deep Navigation
          td(class='x-no') ✗         
          td(class='check-yes') ✓

        tr(class='sub-header-row')
          td(class='col-header') E-Commerce
          td
          td

        tr(class='data-row')
          td(class='col-header') Small Commerce
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Medium Commerce
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Large Commerce
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='sub-header-row')
          td(class='col-header') Social Media
          td
          td

        tr(class='data-row')
          td(class='col-header') Social Media Management
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Facebook Integration
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Instagram Integration
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Twitter Integration
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Yelp Integration
          td(class='x-no') ✗
          td(class='x-no') ✗
          
        tr(class='sub-header-row')
          td(class='col-header') SEO
          td
          td

        tr(class='data-row')
          td(class='col-header') Content Creation
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Readable Code
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Blackhat Techniques
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='sub-header-row')
          td(class='col-header') Advertising Services
          td
          td

        tr(class='data-row')
          td(class='col-header') Ad Creation
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Google Ads Management
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Social Media Ads Mangament
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='sub-header-row')
          td(class='col-header') 3rd-Party Apps 
          td
          td

        tr(class='data-row')
          td(class='col-header') Management
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Integrations
          td(class='x-no') ✗        
          td(class='check-yes') ✓
          
        tr(class='sub-header-row')
          td(class='col-header') Partners
          td
          td

        tr(class='data-row')
          td(class='col-header') Squarespace
          td(class='check-yes') ✓
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Shopify
          td(class='x-no') ✗
          td(class='x-no') ✗

        tr(class='data-row')
          td(class='col-header') Hotjar
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') Google Analytics
          td(class='x-no') ✗        
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') sciDesign
          td(class='x-no') ✗
          td(class='check-yes') ✓

        tr(class='data-row')
          td(class='col-header') WITS
          td(class='x-no') ✗
          td(class='check-yes') ✓




    //-     

        tr(class='sub-header-row')
          td Best For
          td 
          td
          td
          td
          td

        tr(class='data-row')
          td(class='col-header') Freelancers
          td(class='check-yes') ✓
          td(class='x-no') ✗
          td(class='x-no') ✗
          td(class='check-yes') ✓
          td(class='check-yes') ✓

  //-
          td(class='x-no') ✗
          td(class='check-yes') ✓

          td(class='positive') Unlimited
          td(class='positive') Free
          td(class='na') N/A
